/* Lists of stories */
.star-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 16px;
  border: 1px solid black;
}
.star-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: ‘★’;
  color: lightgray;
}
.star-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: ‘★’;
  color: gold;
  overflow: hidden;
}
.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

/* Styling the star */

.star {
  content: "\F588";
}
